always-auth=true
registry=http://nexus.cellebrite.cloud:8081/repository/npm-group/
//nexus.cellebrite.cloud:8081/repository/npm-group/:_authToken=bd538ee5-6f20-33d7-93b9-cd3ef5e3c391
//nexus.cellebrite.cloud:8081/repository/npm-releases/:_authToken=bd538ee5-6f20-33d7-93b9-cd3ef5e3c391